html {
  font-family: 'Roboto', sans-serif;
}
body {
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  background-color: #eee;
}
.baseHeaderFooter {
  background-color: #0A1719;
  color: #f9f9f9;
  margin: 0px;
  font-weight: 300;
}
.baseHeaderFooter a {
  text-decoration: none;
  color: #f9f9f9;
}
.baseHeaderFooter a:hover {
  color: #B2F4FF;
}
.smallImg path {
  fill: #f9f9f9;
}
.smallImg:hover path {
  fill: #B2F4FF;
}
.header {
  background-color: #0A1719;
  color: #f9f9f9;
  margin: 0px;
  font-weight: 300;
}
.header a {
  text-decoration: none;
  color: #f9f9f9;
}
.header a:hover {
  color: #B2F4FF;
}
.header .GithubIcon path {
  fill: #f9f9f9;
}
.header .GithubIcon:hover path {
  fill: #B2F4FF;
}
.header .MailIcon path {
  fill: #f9f9f9;
}
.header .MailIcon:hover path {
  fill: #B2F4FF;
}
.header .MenuIcon path {
  fill: #f9f9f9;
}
.header .MenuIcon:hover path {
  fill: #B2F4FF;
}
.header h1 {
  font-weight: 300;
  color: #5ACFE3;
  font-size: 160%;
}
.header .navbar {
  background-color: #0A1719;
  color: #f9f9f9;
  margin: 0px;
  font-weight: 300;
}
.header .navbar a {
  text-decoration: none;
  color: #f9f9f9;
}
.header .navbar a:hover {
  color: #B2F4FF;
}
.header .navbar .navigation {
  text-align: center;
  margin: 0px;
}
.header .navbar .navigation a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 120%;
}
.header .navbar .navigation .selected {
  color: #5ACFE3;
}
.header .mobileNavbar {
  background-color: #0A1719;
  color: #f9f9f9;
  margin: 0px;
  font-weight: 300;
}
.header .mobileNavbar a {
  text-decoration: none;
  color: #f9f9f9;
}
.header .mobileNavbar a:hover {
  color: #B2F4FF;
}
.header .mobileNavbar .navigation {
  text-align: center;
  margin: 0px;
}
.header .mobileNavbar .navigation a {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 120%;
}
.header .mobileNavbar .navigation .selected {
  color: #5ACFE3;
}
.footer {
  background-color: #0A1719;
  color: #f9f9f9;
  margin: 0px;
  font-weight: 300;
  padding: 10px;
}
.footer a {
  text-decoration: none;
  color: #f9f9f9;
}
.footer a:hover {
  color: #B2F4FF;
}
.footer p {
  padding: 0px;
  margin: 5px;
  text-align: center;
  font-size: 90%;
}
.main {
  max-width: 800px;
  margin: 0px auto;
  padding: 10px;
  background-color: #eee;
  color: #0A1719;
}
.main p {
  font-size: 18px;
}
.main h1 {
  font-size: 40px;
}
.main .highlightedText {
  font-weight: 700;
}
.main a {
  text-decoration: none;
  color: #38808C;
}
.main a:hover {
  color: #5ACFE3;
}
.Resume p,
li,
em {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 15px;
}
.Resume ul {
  margin-top: 7px;
  margin-bottom: 7px;
}
.pagetransition-enter {
  opacity: 0.2;
}
.pagetransition-enter.pagetransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.pagetransition-leave {
  opacity: 1;
}
.pagetransition-leave.pagetransition-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
