.homepage-main {
    display: block;
}

.homepage-header {
    text-align: center;
}

.homepage-profile-picture {
    float: left;
    position: relative;
    margin-right: 20px;
    height: 200px;
    width: 144px;
}

.homepage-paragraph {
    margin-top: 0;
}