:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 13px;
    background-color: #eee;
}

*:focus {
    outline: none;
}



.letterhead {
    font-weight: 300;
    color: #5ACFE3;
    font-size: 160%;
}