.footer {
    display: table;
    width: 100%;
    height: 50px;
    background-color: #0A1719;
    color: #f9f9f9;
    margin: 0px;
    font-weight: 300;
}

.footer-paragraph {
    display: table-cell;
    vertical-align: middle;
}

.footer a {
    text-decoration: none;
    color: #f9f9f9;
}

.footer a:hover {
    color: #B2F4FF;
}

.footer p {
    padding: 0px;
    margin: 5px;
    text-align: center;
    font-size: 90%;
}