.bodyContent {
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  position: relative;
}

.innerBodyContent {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.main {
  margin: 0px auto;
  padding: 10px;
  background-color: #eee;
  color: #0A1719;
}

.main p {
  font-size: 18px;
}

.main h1 {
  font-size: 40px;
}

.main .highlightedText {
  font-weight: 700;
}

.page-header {
  font-weight: 900;
}

.main a {
  text-decoration: none;
  color: #38808C;
}

.main a:hover {
  color: #5ACFE3;
}

.page-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.page-transition {
  opacity: 0;
  animation: fadeIn .35s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0.25;
  }

  to {
      opacity: 1;
  }
}

