.pagetransition-exit {
    display: none;
}

.pagetransition-enter {
    opacity: 0;
    z-index: 1;
}

.pagetransition-enter.pagetransition-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}