.ProjectCell {
    max-width: 350px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.ProjectCellImage {
    height: 200px;
    transition: .5s;
    filter: brightness(85%);
}

.ProjectCellImage:hover {
    filter: brightness(100%);
}

.ProjectCell .ProjectCellTitle {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 500;
}

.ProjectCell .ProjectCellParagraph {
    font-size: 14px;
}