@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bodyContent {
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  position: relative;
}

.innerBodyContent {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.footer {
  display: table;
  width: 100%;
  height: 50px;
}

.footer-paragraph {
  display: table-cell;
  vertical-align: middle;
}



.header {
  width: 100%;
}

.header-inner {
  height: 300px;
}

.header-circle-photo {
  height: 200px;
  margin: 0px auto;
  display: block;
}

.header-letterhead {
  margin: 0px;
  text-align: center;
  line-height: 1.5;
}

.header-dot {
  font-size: 75%;
}



.homepage-main {
  display: block;
}

.homepage-header {
  text-align: center;
}

.homepage-profile-picture {
  float: left;
  margin-right: 10px;
  height: 200px;
}

.homepage-paragraph {
  margin-top: 0;
}



.navbar-name-link {
  line-height: 50px;
}

.navbar-name-text {
  text-align: left;
}

.navbar-parent {
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.navbar-child {
  flex: 1;
  white-space: nowrap;
}

.navbar-child-left {
  text-align: left;
}

.navbar-child-center {
  text-align: center;
}

.navbar-child-left {
  text-align: right;
}

.icons-parent {
  height: 30px;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.desktop-icons-parent .NavIcon {
  height: 30px;
}

.desktop-icons-parent .MailIcon {
  width: 40px;
}

.desktop-icons-parent .GithubIcon {
  width: 30px;
}

.desktop-icons-parent .email-link {
  margin-left: 10px;
  margin-right: 10px;
}

.DesktopNavLink {
  margin: "auto 15px";
}

.navbar-name-link .DesktopNavParent {
  margin-left: 20px;
}

.DesktopNavLinks {
  margin: 0px 15px;
}

.DesktopNavLinks .navigation {
  line-height: 50px;
  text-align: center;
}