@headerBackground: #0A1719;
@headerForeground: #f9f9f9;
@bodyContentShadow: #142F33;
@accentColor: #5ACFE3;
@highlightAccentColor: #B2F4FF;
@darkAccentColor: #47A3B2;
@darkerAccentColor: #38808C;
@bodyBackground: #eee;
@mainBackground: #eee;
@mainTextColor: #0A1719;


@headerWeight: 300;
@highlightedText : 700;
@heightTransitionTime : .3s;
@opacityTransitionTime : .3s;

*:focus {
    outline: none;
}

html {
  //font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  background-color: @bodyBackground;
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}


.baseHeaderFooter {
  background-color: @headerBackground;
  color: @headerForeground;
  margin: 0px;
  font-weight: @headerWeight;

  a {
    text-decoration: none;
    color: @headerForeground;

    &:hover {
      color: @highlightAccentColor;
    }
  }
}


.smallImg {
  path {
    fill: @headerForeground;
  }

  &:hover path {
    fill: @highlightAccentColor;
  }
}

.GithubIcon, .MailIcon, .MenuIcon {
  .smallImg;
}




.letterhead {
  font-weight: @headerWeight;
  color: @accentColor;
  font-size: 160%;
}


.header {
  .baseHeaderFooter;
  overflow: hidden;
  h1 {
    .letterhead;
  }
}


.navbar {
  .baseHeaderFooter;
  h1 {
    margin: 0px;
  }

  .navigation {
    margin: 0px;

    a {
      font-weight: @headerWeight + 300;
      text-transform: uppercase;
      font-size: 120%;
    }

    .selected {
      color: @accentColor;
    }
  }
}

.footer {
  .baseHeaderFooter;

  p {
    padding: 0px;
    margin: 5px;
    text-align: center;
    font-size: 90%;
  }
}


.main {
  max-width: 800px;
  margin: 0px auto;

  p {
    font-size: 18px;
  }

  h1 {
    font-size: 40px;
  }


  padding: 10px;
  background-color: @mainBackground;
  color: @mainTextColor;

  .highlightedText {
    font-weight: @highlightedText;
  }

  a {
    text-decoration: none;
    color: @darkerAccentColor;

    &:hover {
      color: @accentColor;
    }
  }
}




.Resume p, li, em {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 15px;
}

.Resume ul {
  margin-top: 7px;
  margin-bottom: 7px;
}


.pagetransition-enter {
  opacity: 0.2;
}

.pagetransition-enter.pagetransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.pagetransition-leave {
  opacity: 1;
}

.pagetransition-leave.pagetransition-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
